Django==1.5.2
PIL==1.1.7
argparse==1.2.1
django-disqus==0.4.1
django-social-auth==0.7.25
django-suit==0.2.4
httplib2==0.8
ipdb==0.7
ipython==1.0.0
oauth2==1.5.211
psycopg2==2.5.1
python-openid==2.2.5
wsgiref==0.1.2


