.intro-content {
    padding-bottom: 40px;
}

.car-image img {
  width: auto;
  height: 175px;
  max-height: 175px;
  margin-left: auto;
  margin-right: auto;
}

img.profile_img {
    max-width: 10px;
    max-height: 10px;
}

.car-image p {
	text-align: center;
	padding-top: 10px;
	font-weight: 700;
}

.avatar {
	height: 100px;
	max-height: 100px;
	width: auto;
	margin-top: 15px;
}

