.academic_profile_img {
    max-width: 200px;
    max-height: 200px;
}

.table-cell {
    margin-top: 20px;
    font-size: 20px;
    line-height: 40px;
}

p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 20px;
}

.bio-table-cell {
    padding-top: 50px;
    line-height: 15px;
}

body {
    padding-top: 65px;
    text-align: justify;
}

.row-discus {
    padding-top: 80px;
}
