body {
    padding-top: 70px;
    top: 100px;
    text-align: justify;
    background-image: url(background/darkgrey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    display: block;
    max-height: 350px;
    max-width: 350px;
}

.academic_profile_img {
    max-width: 200px;
    max-height: 200px;
}

.table-cell {
    height: 200px;
    width: 300px;
    font-size: 20px;
    line-height: 40px;
}

.row {
    margin-left: 15px;
    margin-right: 10px;
}

p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 20px;
}



.bio-table-cell {
    padding-top: 50px;
    line-height: 15px;
}

body {
    padding-top: 65px;
    text-align: justify;
}


.academic-profile-info {
    padding-top: 70px;
}
