{% load staticfiles %}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    {% block extra_metas %}{% endblock %}
    <title>{{ PROJECT_NAME }} | {% block title %}{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" type = "text/css" rel="stylesheet"/>
    {% if THEME == 'dark' %}
          <link href="{% static 'css/base.dark.css' %}" type ="text/css" rel="stylesheet"/>
    {% else %}
        <link href="{% static 'css/base.css' %}" type ="text/css" rel="stylesheet"/>
    {% endif %}
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

    {% block extra_links %}{% endblock %}
</head>

<body id="page-cont">

     <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-default navbar-fixed-top dark_nav light_nav" role="navigation">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                {% block navbar_links %}
                    <a class="navbar-brand" href="{% url 'index' %}">Project Skeleton</a>
                </div>
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" >
                    {% if user.is_staff %}
                    <li>
                        <a href="/admin/">Admin</a>
                    </li>
                    <!-- include admin logout -->
                     {% elif not user.is_authenticated %}
                    <li>
                        <a href="/login?next={{ request.path|urlencode }}">Login</a>
                    </li>
                    {% endif %}
                    <li class="dropdown">
                        <a class="dropdown-toggle"  data-toggle="dropdown" href="{% url 'index' %}"><span>Go to<b class="caret"></b></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'team' %}">Team</a></li>
                            <li><a href="{% url 'gallery' %}">Image Gallery</a></li>
                            <li><a href="{% url 'bibliography' %}">Bibliography</a></li>
                            <li>
                            {% for line in research_lines %}
                            <a href="{% url 'research_line' line.slug %}">{{ line.name }}</a>
                            {% endfor %}</li>
                        </ul></li></ul>
                <form class="navbar-form navbar-right" name="search" action="{% url 'search' %}" method="get" >
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" placeholder="search" />
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </form>
                {% endblock %}
                </div> 
            </div>
            </div>
        </div>
     </div>
 


    <div id="main_container">
        <div id="content">
            {% block content %}{% endblock %}
        </div>  
        <div id="footer" class="well">
            <footer>
                <p class="text-muted credit"><a href="http://www.cultureplex.ca/" target="blank">&copy;{{ FOOTER_INFO }}</a></p>
            </footer>
        </div>
    </div>



{% block scripts %}
    
    <script>
    // controls footer placement. if content does not fill viewport, place at bottom of page. if it does, place at bottom of content stopped working
     (function($) {
         $(document).ready(function() {
            var bodyHeight = $(document).height() - 100 + 'px';

            $('#main_container').height(bodyHeight)
            $('#content').height('95%')
            $('#ftr').height('5%')
         });

         $(document).on('resize', function () {
            var bodyHeight = $(document).height() - 100 + 'px';
            $('#main_container').height(bodyHeight)



         })

     })(jQuery);
     </script>
 
    {% block extra_scripts %}{% endblock %}





{% endblock %}

</body>
</html>
