{% load staticfiles %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    {% block extra_metas %}{% endblock %}
    <title>{{ PROJECT_NAME }} | {% block title %}{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" type = "text/css" rel="stylesheet"/>
    <link href="{% static 'css/base.css' %}" type ="text/css" rel="stylesheet"/>
    {% block extra_links %}{% endblock %}
</head>

<body id="page-cont">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid western-navbar">
        {% block navbar_links %}
            <a class="brand" href="{% url 'index' %}" style="color:white;">Project Skeleton</a>
                <ul class="nav" >
                    {% if user.is_staff %}
                    <li>
                        <a href="/admin/">admin</a>
                    </li>
                    <li>
                        <a href="/logout/?next=/accounts/login?next={% url 'index' %}">logout</a>
                    </li>
                    {% elif user.is_authenticated %}
                        <li>
                            <a href="{% url 'profile' user_id=user.id user_slug=user.get_profile.slug %}">profile</a>
                        </li>
                        <li>
                            <a href="/logout/?next=/accounts/login?next={% url 'index' %}">logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/accounts/login?next={{ request.path }}">login</a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">create</a>
                        </li>
                    {% endif %}

                </ul>
                                        <form name="search" action="{% url 'search' %}" method="get" class="navbar-form pull-right">
                            <input type="text" class="span2 offset10" name="q" placeholder="search" />
                        </form>
         {% endblock %}
        </div>
    </div>
</div> 

<div class="container-fluid" >
    {% block content %}{% endblock %}
<div id="footer" class="ftr">
    <div class="container-fluid">
        <p class="muted credit">CulturePlex Lab: Skeleton - David Michael Brown</p>
    </div>
</div>
</div>



{% block scripts %}
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
   <script>
    (function($) {
        $(document).ready(function() {
            var body_height = $('body').height();
            console.log(body_height);
            var window_height = $(window).innerHeight();
            console.log(window_height)
            var page_height = $('#page-cont').innerHeight();
            console.log(page_height);

            if (window_height > body_height) 
                {
                    $('.ftr').css('margin-top', window_height +'px');
                }

        });
    })(jQuery);
    </script>
 
    {% block extra_scripts %}{% endblock %}
{% endblock %}

</body>
</html>