{% load staticfiles %}
{% load disqus_tags %}
{% disqus_dev %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    {% block extra_metas %}{% endblock %}
    <title>{{ PROJECT_NAME }} | {% block title %}{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" type = "text/css" rel="stylesheet"/>
    <link href="{% static 'css/base.css' %}" type ="text/css" rel="stylesheet"/>
    {% block extra_links %}{% endblock %}
</head>

<body id="page-cont">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid western-navbar">
        {% block navbar_links %}
            <a class="brand" href="{% url 'index' %}" style="color:white;">Project Skeleton</a>
                <ul class="nav" >
                    {% if user.is_staff %}
                    <li>
                        <a href="/admin/">admin</a>
                    </li>
                    <!-- include admin logout -->
                    {% elif not user.is_authenticated %}
                        <li>
                            <a href="/login?next={{ request.path|urlencode }}">login</a>
                        </li>
                    {% endif %}
                </ul>
                <form name="search" action="{% url 'search' %}" method="get" class="navbar-form pull-right">
                    <input type="text" class="span2 offset10" name="q" placeholder="search" />
                </form>
         {% endblock %}
        </div>
    </div>
</div> 




<div class="container-fluid" >
    {% block content %}{% endblock %}
    <div id="footer" class="ftr">
        <div class="container-fluid">
            <p class="muted credit">CulturePlex Lab: {{ FOOTER_INFO }}</p>
        </div>
    </div>
</div>




{% block scripts %}
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script>
    // controls footer placement. if content does not fill viewport, place at bottom of page. if it does, place at bottom of content stopped working
     (function($) {
         $(document).ready(function() {
            var body_height = $(document).height();
            var window_height = $(window).height();
            console.log(body_height);
            console.log(window_height)
            if (window_height > body_height) 
                {
                   $('.ftr').css('position', 'absolute');
                   $('.ftr').css('bottom', 0 +'px');
                }
         });
     })(jQuery);
     </script>
 
    {% block extra_scripts %}{% endblock %}





{% endblock %}

</body>
</html>