body {
    padding-top: 70px;
    top: 100px;
    text-align: justify;
    background: black;
}

.navbar-default .navbar-brand {
    color: #74CBE3;
}

.navbar-default .navbar-nav > li > a {
    color: #74CBE3;
}

.dark_nav {
    background: black;
}

.navbar-default {
    border-color: black;
}

.ftr {
    padding-top: 30px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.table-cell {
    margin-top: 20px;
    font-size: 20px;
    line-height: 40px;
}

p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 15px;
    text-align: justify;
    color: #AAAAB1;
}

h2 {
    color: #FEFEFE;
}

h4 {
    color: #FEFEFE;
}

.current{
    color: #AAAAB1;
}

a {
    color: #74CBE3;
}

li {
    color: #74CBE3;
}