body {
    padding-top: 70px;
    top: 100px;
    text-align: justify;
    background-image: url(background/darkgrey.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

.navbar-default .navbar-brand {
    color: #74CBE3;
}

.navbar-default .navbar-brand:hover {
    color: #267B94;
}

.navbar-default .navbar-nav > li > a {
    color: #74CBE3;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #267B94;
}

.dark_nav {
    background: black;
    border: black;
}

.ftr {
    padding-top: 30px;
}

img 
{  display: block;
  height: auto;
  max-width: 100%;
}

.table-cell {
    margin-top: 20px;
    font-size: 20px;
    line-height: 40px;
}

p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 15px;
    text-align: justify;
    color: #AAAAB1;
}

h2 {
    color: #c8c8c8;
}

h4 {
    color: #c8c8c8;
}

h3 {
    color: #74CBE3;
}

.current{
    color: #AAAAB1;
}

a {
    color: #74CBE3;
}

li {
    color: #74CBE3;
}