body {
    padding-top: 65px;
    top: 100px;
    text-align: justify;
    line-height: 20px;
}

.light_nav {
    background: #1995dc;
    border: #1995dc;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #3d3737;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #3d3737;
}

.navbar-wrapper {
  position: relative;
  z-index: 15;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.table-cell {
    margin-top: 20px;
    font-size: 20px;
    line-height: 40px;

}

p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 20px;
    color: #555555;
}

h1 {
    color: #ff6707;
}

h2 {
    color: #5cb85c;
}

h4 {
    color: #5cb85c;
}

h3 {
    color: #777;
}

a {
  color: #1995dc;
}

#footer {
  background-color: black;
}   

a {
    padding-left: 80px;
    color: white;
}

