body {
    padding-top: 65px;
    top: 100px;
    text-align: justify;
    line-height: 20px;
    background-image: url(background/parchment.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

.light_nav {
    background: #006699;
    border: #006699;
}

.ftr {
    padding-top: 30px;
}

.navbar-wrapper {
  position: relative;
  z-index: 15;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.table-cell {
    margin-top: 20px;
    font-size: 20px;
    line-height: 40px;

}

p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 20px;
    color: black;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #989898;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #989898 ;
}

h2 {
    color: #339966;
}

h4 {
    color: #339966;
}

h3 {
    color: #006699;
}
