body {
    padding-top: 65px;
    top: 100px;
    text-align: justify;
    line-height: 20px;
    background-image: url(background/parchment.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

.light_nav {
}

.ftr {
    padding-top: 30px;
}

.navbar-wrapper {
  position: relative;
  z-index: 15;
}

/*.navbar-default {
  background-color: 
}
*/
img {
  display: block;
  height: auto;
  max-width: 100%;
}

.table-cell {
    margin-top: 20px;
    font-size: 20px;
    line-height: 40px;
}

p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 20px;
}


