body {
    padding-top: 70px;
    top: 100px;
    text-align: justify;
    background-image: url(background/darkwoodpanel.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}


.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #736F6E;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #736F6E;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: #4C4646;
}

.dark_nav {
    background: black;
    border: #4EB1BA;
}

.carousel-inner {
    background-image: url(background/darkgrey.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}


img 
{  display: block;
  height: auto;
  max-width: 100%;
}

.table-cell {
    margin-top: 20px;
    font-size: 20px;
    line-height: 40px;
}

p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    color: white;
}

h2 {
    color: #99FF99;
}

h3 {
    color: #ff6707;
}

h4 {
    color: #c8c8c8;
}

a {
    color: #74CBE3;
}

a h3 {
    color: #74CBE3;   
}

li {
    color: #74CBE3;
}

.current {
    color: #AAAAB1;
}


#footer {
  background-color: black;
  border-color: black;
}   

footer > p > a {
    color: #4C4646;
    padding-left: 80px;
    color: white;
}

.well {
    padding-left: 80px;
}

