{% extends 'base.html' %}
{% load staticfiles %}
{% load reference_instance %}

{% block content %}
<div class="row-fluid">
	<div class="span8 offset2">		
		<h3>Bibliography</h3>
			{% for reference in references %}
				{% with reference|book_instance as inst %}
					{% if inst %}
						<p id="b_{{ reference.id }}">{{ reference.authors }}, {{ reference.title }}, {{ reference.book_title }}</p><!--etc...-->
					{% else %}
						<p id="j_{{ reference.id }}">{{ reference.authors }}, {{ reference.title }}, </p><!--etc...-->
					{% endif %}
				{% endwith %}
			{% endfor %}
	</div>	
</div>

<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

{% if anchor %}
	<script>
	(function($) {
		$(document).ready(function(){
			var anc = "#" + "{{ anchor }}";
			$(anc).css('font-weight', 'bold')
			console.log(anc);
			$('html, body').animate({
				scrollTop: $(anc).offset().top - 45
				}, 'fast'
			);
		});
	})(jQuery);
	</script>
{% endif %}

{% endblock %}