{% extends "base.html" %}
{% load staticfiles %}
{% load disqus_tags %}
{% set_disqus_identifier 'image_' image.id %}
{% set_disqus_url image.get_absolute_url %}


{% block content %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<img src="{{ MEDIA_URL }}{{ image.image }}" />
		<p>{{ image.name }}</p>
		<p>{{ image.caption }}</p>
		<p>{{ image.description }}</p>

	</div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">    
        {% disqus_show_comments %}
    </div>
</div>



{% endblock %}

