{% extends "base.html" %}
{% load staticfiles %}
{% load disqus_tags %}
{% load disqus_tags %}
{% set_disqus_identifier 'project' %}
{% set_disqus_url project.get_absolute_url %}
{% block title %}Home{% endblock %}

{% block extra_links %}
    <link href="{% static 'css/index.css' %}" type = "text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container">

<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="container mainslide">
                <div class="row mainslide">
                {% if cover_image.image %}
                <div class="col-md-4">
                <img src="{{ MEDIA_URL }}{{ cover_image.image }}" class="mainimg"></div>
                    <div class="col-md-6">
                    <h1>{{ project }}</h1>
                    <p class="maindescrip">{{ project.description|safe|slice:"0:500" }}...<a href="{% url 'team' %}">read more</a></p></div>
                    </div>
                {% else %}
                    <h1>{{ project }}</h1>
                    <p>{{ project.description|safe }}</p>
                {% endif %}
            </div>
        </div>

        {% if profile %}
        <div class="item">
        <div class="inner-item">
            <div class="container profile_slide">
                <p><h1>{{ profile.name }}</h1></p> 
                <p class="profile-bio">{{ profile.bio|safe|slice:"0:500" }}...<a href="{% url 'team' %}">view more</a></p>
                    {% if profile.profile_pic %}
                        <a href="{% url 'image' profile.profile_pic.slug %}">
                        <img src="{{ MEDIA_URL }}{{ profile.profile_pic.image }}" class="car-img" />
                        </a>
                    {% endif %}
           </div>
        </div>
        </div>
        {% endif %} 

        {% if images %}
        <div class="item">
            <div class="container profile_slide">
                <img src="{{ MEDIA_URL }}{{ image.image }}" class="car-img">
                <h2>Image Gallery</h2>
                <a href="{% url 'gallery' %}" class="btn btn-default btn-sm">view more</a>
            </div>
        </div>
        {% endif %}

    </div>
  <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
    
</div>

<!-- Research Lines -->

{% for line in research_lines %}

<div class="container marketing">
    <div class="row marketing">

    <div class="row">
        <div class="col-lg-6 researchlines">
            <a href="{% url 'research_line' line.slug %}"><h3>{{ line.name }}</h3></a>
            <p>{{ line.text|safe|slice:"0:200" }}...<a href="{% url 'research_line' line.slug %}">read more</a></p>
        </div>
    {% if line.avatar %}
            <div class="col-lg-6">
                <a href="{% url 'image' line.avatar.slug %}"><img src="{{ MEDIA_URL }}{{ line.avatar.image }}" class="researchimg" /></a>
            </div>
    {% else %}
        <div class="col-lg-6"></div>
    {% endif %}
    </div>
    </div>
<hr>   
</div>  

{% endfor %}


{% endblock %}


{% block extra_scripts %}
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"}></script>
<script type="text/javascript">
(function($){
    $(document).ready(function(){
        $('.carousel').carousel({
            interval: 3000
        });
    });
    $('.carousel-control.left').click(function() {
        $('#index-carousel').carousel('prev');
    });
    $('.carousel-control.right').click(function() {
        $('#index-carousel').carousel('next');
});
})(jQuery);
</script>

{% endblock %}
