{% extends "base.html" %}
{% load staticfiles %}
{% load disqus_tags %}
{% load disqus_tags %}
{% set_disqus_identifier 'project' %}
{% set_disqus_url project.get_absolute_url %}
{% block title %}Home{% endblock %}

{% block extra_links %}
    <link href="{% static 'css/index.css' %}" type = "text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="jumbotron">
            <h1>{{ project }}</h1>
            <img src="http://placehold.it/350x150">
            <p>{{ project.description|safe }}</p>
            <!-- {% if cover_image.image %} -->
                <!-- <img class="profile_image" src="{{ MEDIA_URL }}{{ cover_image.image }}" /> -->
<!--             {% elif active_image %}
                <div id="index-carousel" class="carousel slide ">
                    <div class="carousel-inner">
                        <div class="item active car-image">
                            <a href="{% url 'image' active_image.id active_image.slug %}"><img src="{{MEDIA_URL}}{{ active_image.image }}"alt="" /></a>
                            <div>
                                <p>{{ active_image.caption }}</p>
                             </div>
                        </div>
                        {% for image in images %}
                        <div class="item car-image">
                            <a href="{% url 'image' image.id image.slug %}"><img src="{{MEDIA_URL}}{{ image.image }}" alt="" class="img-thumbnail"/></a>
                            <div>
                                <p>{{ image.caption }}</p>
                             </div>
                        </div>
                        {% endfor %}
                    </div><! /.carousel-inner -->
<!--                     <a class="carousel-control left" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right"  data-slide="next">&rsaquo;</a> -->
                </div><!-- /.carousel -->
            <!-- {% endif %} --> 
    </div>


<!-- Research Lines -->

{% for line in research_lines %}
<div class="container">    
    <div class="row">
        <div class="col-lg-4">
            {% if line.avatar %}
                <div class="col-md-2">
                    <a href="{% url 'image' line.avatar.id line.avatar.slug %}"><img src="{{ MEDIA_URL }}{{ line.avatar.image }}", class="avatar" /></a>
                </div>
            {% else %}
                <div class="col-md-2"></div>
            {% endif %}
            <div class="col-md-10">
                <a href="{% url 'research_line' line.id line.slug %}"><h3>{{ line.name }}</h3></a>
                <p>{{ line.text|safe|slice:"0:200" }}...<a href="{% url 'research_line' line.id line.slug %}">read more</a></p>
            </div>
        </div>
    </div>
</div>
<hr>
{% endfor %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        {% disqus_show_comments %}
    </div>
</div>

{% endblock %}


{% block extra_scripts %}
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"}></script>
<script>
(function($){
    $(document).ready(function(){
        $('.carousel').carousel({
            interval: 3000
        });
    });
    $('.carousel-control.left').click(function() {
        $('#index-carousel').carousel('prev');
    });
    $('.carousel-control.right').click(function() {
        $('#index-carousel').carousel('next');
});
})(jQuery);
</script>
{% endblock %}
