{% extends "base.html" %}
{% load staticfiles %}

<div class="container">

        <div class="row well" >
            <div class="col-xs-10">
                <h4>Member login</h4>
                    <form action="" method="post" class="form-horizontal">
                        <input type="hidden" name="this_is_the_login_form" value="1"/> 
                        <div class="control-group">
                                 <label class="control-label" for="username" id="uname">
                                    Username
                                 </label>
                        <div class="controls">
                                <input name="username" id="username" type="text" value="" placeholder="Username"/>
                        </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="password">
                                Password
                            </label>
                            <div class="controls">
                            <input name="password" id="password" type="password" value="" placeholder="Password"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label for="remember" id="remlabel" class="checkbox">
                                    <input type="checkbox">Remember me
                                </label><p></p>
                                <button type="submit" class="btn">Sign in</button>
                                <p></p>
                                <p>Not a member yet? Registration soon available.</a></p>
                                </div>
                            </div>
            </div>
        </div>

</div>

