{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Member{% endblock %}
{% load disqus_tags %}
{% set_disqus_identifier 'profile_' profile.id %}
{% set_disqus_url profile.get_absolute_url %}

{% block extra_links %}
    <link href="{% static 'css/profile.css' %}" type = "text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table">
        <thead>
        <tr>
            <h2> Member </h2>
        </tr>
        </thead>
        <tbody>
            <tr>
            <td class="table-cell">
                <h3>{{ profile.name }}</h3>
                <a href="{% url 'image' profile.profile_pic.slug %}"><img src="{{ MEDIA_URL }}{{ profile.profile_pic.image }}" class="academic_profile_img" /></a>
                <div class="academic-profile-info">
                Contact me:
                <p><small>AccountName at Email dot com<br/>
                Facebook<br/>
                @Twitter<br/>
                LinkedIn<br>
                Blog URL</small></p>
                </div>
            </td>
            <td class="bio-table-cell">
                <div class="row">
                <p>{{ profile.bio|safe }}</p>
<!--user adds html tags in django admin-->
                </div>
            </td>
            </tr>
        </tbody>
        </table>
        <div class="col-md-12 col-md-offset-10">
		<a href="{% url 'team' %}">View entire team<span class="glyphicon glyphicon-chevron-right"></span></a></div>
		</div>
    </div>
</div>



<!--<div class="row-discus">-->
<!--    <div class="col-med-10 col-md-offset-1">-->
<!--        {% disqus_show_comments %}-->
<!--    </div>-->
<!--</div>-->

{% endblock %}
