{% extends "base.html" %}
{% load staticfiles %}

{% load disqus_tags %}
{% set_disqus_identifier 'profile_' profile.id %}
{% set_disqus_url profile.get_absolute_url %}

{% block content %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-md-8">
				<h2> Collaborators </h2>
				<h3>{{ profile.name }}</h3>
				<p>{{ profile.bio }}</p>
			</div>
		</div>
	</div>
</div>





<div class="row">
    <div class="col-med-10 col-md-offset-1">    
        {% disqus_show_comments %}
    </div>
</div>
{% endblock %}
