{% extends "base.html" %}
{% load staticfiles %}
{% load reference_instance %}
{% block title %}{{ research_line.name }}{% endblock %}


{% block extra_links %}
    {% if THEME == 'dark' %}
        <link href="{% static 'css/research_line.dark.css' %}" type = "text/css" rel="stylesheet"/>
    {% else %}
        <link href="{% static 'css/research_line.css' %}" type = "text/css" rel="stylesheet"/>
    {% endif %}
{% endblock %}

{% block content %}

<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-md-12">
				<h2>{{ research_line.name }}</h2>
				<hr>
			</div>
			<div class="col-md-4 col-md-offset-3">
				{% if research_line.avatar %}
					<a href="{% url 'image' research_line.avatar.slug %}">
						<img src="{{ MEDIA_URL }}{{ research_line.avatar.image }}" class="img-thumbnail"/>
					</a>
				{% endif %}
			</div>
		</div>
		{% for key, value in sections.items %}
			{% if key.avatar %}
				<div class="row">
					<div class="col-md-4">
						<a href="{% url 'image' key.avatar.slug %}"><img src="{{ MEDIA_URL }}{{ key.avatar.image }}" /></a>
						<p class="image-name">{{ key.avatar.name }}</p>
						<p class="image-caption">{{ key.avatar.caption }}</p>	
					</div>
					<div class="col-md-8">
						<h4>{{ key.name }}</h4>
						<p>{{ key.text }}</p>
					</div>
				</div>
			{% else %}
				<div class="row">
					<div class="col-md-12">

						<h4>{{ key.name }}</h4>
						<p>{{ key.text }}</p>
					</div>
				</div>
			{% endif %}
			{% if value %}
				{% for val in value %}
					{% if value.avatar %}
						<div class="row">
							<div class="col-md-8">
								<h5>{{ val.name }}</h5>
								<p>{{ val.text }}</p>
							</div>
							<div class="col-md-4">
								<a href="{% url 'image' value.avatar.slug %}"><img src="{{ MEDIA_URL }}{{ value.avatar.image }}" /></a>
								<p class="image-name">{{ value.avatar.name }}</p>
								<p class="image-caption">{{ value.avatar.caption }}</p>
							</div>
						</div>
					{% else %}
						<div class="row">
							<div class="col-md-12">
								<h5>{{ val.name }}</h5>
								<p>{{ val.text }}</p>
							</div>
						</div>	
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
        <h3>{{ research_line.subtitle }}<h3>
		<p>{{ research_line.text|safe }}</p>
		<div class="row-bibliography">
				<h4><span class="glyphicon glyphicon-leaf"></span> Bibliography</h4>
				{% for reference in references %}
					{% if reference|book_instance %}
						<p>{{ reference.authors }}. <i>{{ reference.book_title }}</i>. {{ reference.place_of_pub }}: {{ reference.publisher }}. {{ reference.date }}<br/><a href="url">{{ reference.url }}</a></p><!--etc...-->
					{% else %}
						<p>{{ reference.authors }}. "{{reference.title}}" <i>{{ reference.journal_title }}</i>. {{ reference.date }}. <br/><a href="url">{{ reference.url }}</a></p><!--etc...-->
					{% endif %}
				{% endfor %}
		<div class="col-md-12 col-md-offset-9">
		<p><a href="{% url 'bibliography' %}">View entire bibliography<span class="glyphicon glyphicon-chevron-right"></span></a></p></div>
		</div>
	</div> <!-- general offset -->
</div> <!--first fluid row -->


{% endblock %}
