{% extends 'base.html' %}
{% load staticfiles %}
{% load reference_instance %}


{% block content %}

<div class="row-fluid">
	<div class="span8 offset2">
		<div class="row-fluid">
			<div class="span8">
				<h2>{{ research_line.name }}</h2>
				<h3>{{ research_line.subtitle }}</h3>
				<p>{{ research_line.text }}
			</div>
			<div class="span4">
				<a href="{% url 'image' research_line.avatar.id research_line.avatar.slug %}"><img src="{{ MEDIA_URL }}{{ research_line.avatar.image }}" /></a>
			</div>
		</div>
		{% for key, value in sections.items %}
			{% if key.image %}
				<div class="row-fluid">
					<div class="span4">
						<a href="{% url 'image' key.image.id key.image.slug %}"><img src="{{ MEDIA_URL }}{{ key.image.image }}" /></a>
						<p class="image-name">{{ key.image.name }}</p>
						<p class="image-caption">{{ key.image.caption }}</p>	
					</div>
					<div class="span8">
						<h4>{{ key.name }}</h4>
						<p>{{ key.text }}</p>
					</div>
				</div>
			{% else %}
				<div class="row-fluid">
					<div class="span12">
						<h4>{{ key.name }}</h4>
						<p>{{ key.text }}</p>
					</div>
				</div>
			{% endif %}
			{% if value %}
				{% for val in value %}
					{% if val.image %}
						<div class="row-fluid">
							<div class="span8">
								<h5>{{ val.name }}</h5>
								<p>{{ val.text }}</p>
							</div>
							<div class="span4">
								<a href="{% url 'image' val.image.id val.image.slug %}"><img src="{{ MEDIA_URL }}{{ val.image.image }}" /></a>
								<p class="image-name">{{ val.image.name }}</p>
								<p class="image-caption">{{ val.image.caption }}</p>
							</div>
						</div>
					{% else %}
						<div class="row-fluid">
							<div class="span12">
								<h5>{{ val.name }}</h5>
								<p>{{ val.text }}</p>
							</div>
						</div>	
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}

		<div class="row-fluid">
			<div class="span12">
				<h4>Bibliography</h4>
					{% for reference in references %}
						{% with reference|book_instance as inst %}
							{% if inst %}
								<p>{{ reference.authors }}, {{ reference.title }}, {{ reference.book_title }}</p><!--etc...-->
							{% else %}
								<p>{{ reference.authors }}, {{ reference.title }}, </p><!--etc...-->
							{% endif %}
						{% endwith %}
					{% endfor %}
			</div>
		</div>
	</div> <!-- general offset -->
</div> <!--first fluid row -->
{% endblock %}