{% extends 'base.html' %}
{% load reference_instance %}
{% block title %}Search Results{% endblock %}

{% block content %}

{% if results %}
    <h2>Search Results</h2>
    <div class="row">
    <div class="col-md-8">
            <table class="table">
            <tbody>
        {% for result in results %}
            {% if result|book_instance %}
                <tr>
                    <td class="table-cell">
                    <a href="{{ result.result.get_absolute_url }}?ref_id=b_{{ result.id }}">
                     {{ result.type }}{{ result.name }}<br/>
                    {{ result.field }}
                    </a>
                    </td>
                </tr>
            {% elif result|journal_instance %}
                <tr>
                    <td class="table-cell">
                    <a href="{{ result.result.get_absolute_url }}?ref_id=b_{{ result.id }}">
                     {{ result.type }}{{ result.name }}<br/>
                    {{ result.field }}
                    </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="table-cell">
                    <a href="{{ result.result.get_absolute_url }}">
                    {% if result.type = research_line %}
                        <span class="glyphicon glyphicon-file"></span> {{ result.name }}<br/>
                    {{ result.field }}
                    {% elif result.type = image %}
                        <span class="glyphicon glyphicon-camera"></span> {{ result.name }}<br/>
                    {{ result.field }}
                    {% elif result.type = academic_profile %}
                        <span class="glyphicon glyphicon-user"></span> {{ result.name }}<br/>
                    {{ result.field }}
<!--                    {% elif result.type = Project %}-->
<!--                        <span class="glyphicon glyphicon-file">{{ result.type }}</span>} {{ result.name }}<br/>-->
<!--                    {{ result.field }}-->
                    {% elif result.type = book_instance %}
                        <span class="glyphicon glyphicon-leaf"></span>} {{ result.name }}<br/>
                    {{ result.field }}
                    {% elif result.type = journal_instance %}
                        <span class="glyphicon glyphicon-leaf"></span>} {{ result.name }}<br/>
                    {{ result.field }}
                    {% endif %}
                    </a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endif %}


<div class="pagination">
    <span class="step-links">
        {% if results.has_previous %}
            <a href="?page={{ results.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ results.number }} of {{ results.paginator.num_pages }}.
        </span>
        {% if results.has_next %}
            <a href="?page={{ results.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

