{% extends 'base.html' %}
{% block content %}

{% if results %}
    <ul>  
        {% for result in results %}
            <li>
                <a href="{{ result.get_absolute_url }}">{{ result }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}


<div class="pagination">
    <span class="step-links">
        {% if results.has_previous %}
            <a href="?page={{ results.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ results.number }} of {{ results.paginator.num_pages }}.
        </span>

        {% if results.has_next %}
            <a href="?page={{ results.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}