{% extends 'base.html' %}
{% load reference_instance %}
{% block title %}Search Results{% endblock %}

{% block content %}


{% if results %}
<div class="row">
    <div class="col-md-8">
    <h3>Search Results</h3>
    <dl>
        {% for result in results %}
            {% if result|book_instance %}
                <div class="row">
                <div class="col-md-8 col-md-offset-1">
                <dt>
                    <a href="{{ result.get_absolute_url }}?ref_id=b_{{ result.id }}">{{ result }}</a>
                </dt>
                </div>
                </div>
            {% elif result|journal_instance %}
                <div class="row">
                <div class="col-md-8 col-md-offset-1">
                <dt>
                    <a href="{{ result.get_absolute_url }}?ref_id=b_{{ result.id }}">{{ result }}</a>
                </dt>
                </div>
                </div>
            {% else %}
                <div class="row">
                <div class="col-md-8 col-md-offset-1">
                <dt>
                    <a href="{{ result.get_absolute_url }}">{{ result.name }}</a>
                </dt>
                </div>
                </div>
            {% endif %}
        {% endfor %}
    </dl>
    </div>
</div>
{% endif %}


<div class="pagination">
    <span class="step-links">
        {% if results.has_previous %}
            <a href="?page={{ results.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ results.number }} of {{ results.paginator.num_pages }}.
        </span>

        {% if results.has_next %}
            <a href="?page={{ results.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
