{% extends "base.html" %}
{% load staticfiles %}
{% block title %}<h1>Team</h1>{% endblock %}


{% block extra_links %}
    {% if THEME == 'dark' %}
        <link href="{% static 'css/profile.dark.css' %}" type = "text/css" rel="stylesheet"/>
    {% else %}
        <link href="{% static 'css/profile.css' %}" type = "text/css" rel="stylesheet"/>
    {% endif %}
{% endblock %}

{% block content %}

<div class="container profile_list">
    <div class="col-md-8 col-md-offset-2">
            <table class="table">
                <thead>
                    <tr>
                        <h2> Team </h2>
                    </tr>
                </thead>
                <tbody>
                {% for profile in team %}
                    <tr class="table-cell">
                        <td>
                            <h4><a href="{% url 'profile' profile.slug %}">{{ profile }}</a><h4>
                                <p>{{profile.bio|slice:"0:100"}}...<a href="{% url 'profile' profile.slug %}">more</a></p>
                        </td>
                        <td>
                                {% if profile.profile_pic %}
                                <a href="{% url 'image' profile.profile_pic.slug %}"><img src="{{ MEDIA_URL }}{{ profile.profile_pic.image }}" class="academic_profile_img" /></a>
                                {% else %}
                                <img src="http://placehold.it/200x200">
                                {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
</div>



{% endblock %}
